{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form method="post" action="{{ url_for('booking',id=teacher.id, weekday=weekday, time=time) }}" class="card mb-3">
          <div class="card-body text-center pt-5">
            <img src="{{ teacher.picture }}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ teacher.name }}</h2>
            <p class="my-1">Запись на пробный урок</p>
              {% set week = {"mon":"Понедельник","tue":"Вторник","wed":"Среда","thu":"Четверг","fri":"Пятница",
              "sat":"Суббота","sun":"Воскресение"} %}
            <p class="my-1">{{ week[weekday] }}, {{ time }}:00</p>
          </div>
          <hr />
          <div class="card-body mx-3">
<!--              <div class="row">-->
<!--                  <input class="form-control" type="hidden" name="clientWeekday" value="{{ weekday }}">-->
<!--                  <input class="form-control" type="hidden" name="clientTime" value="{{ time }}">-->
<!--                  <input class="form-control" type="hidden" name="clientTeacher" value="{{ id }}">-->
<!--              </div>-->
            {{ form.client_name.label(class_="mb-1 mt-2") }}
            {{ form.client_name(class_="form-control") }}
            {{ form.client_phone.label(class_="mb-1 mt-2") }}
            {{ form.client_phone(class_="form-control") }}
            {{ form.csrf_token }}

            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}